rdrDateDisplayWrapper {
  display: none !important;
}
.text-wrap-custom {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
#eventDate:focus {
  outline-color: none !important;
  box-shadow: none !important;
}
.text-color {
  color: #242565 !important;
}
.form-control-custom:focus,
.input-group-custom:focus-within {
  box-shadow: none !important;
  border-color: #242565 !important;
}
.card-img-h {
  height: 200px !important;
}
